fastapi
uvicorn[standard]
python-multipart
jinja2
python-dotenv
openai
sentence-transformers
faiss-cpu
torch
torchvision
pillow
numpy
pandas
matplotlib
ragas
datasets
langchain-openai
langchain-community
